---
- name: Handle EDA event - Incoming Webhook
  hosts: all
  gather_facts: false
  vars:
    incoming: "{{ ansible_eda.event | default({}) }}"
    passed_from_rulebook: "{{ trigger_reason }}"        # this is an extra variable passed by the rulebooks

  tasks:
    - name: Show the event payload
      ansible.builtin.debug:
        msg:
          - "EDA received an event!"
          - "webhook data: {{ incoming | default('n/a') }}"
          - "source info: {{ incoming.meta.source | default('n/a') }}"
          - "webhook msg sent: {{ incoming.payload.message | default('no-message') }}"

    - name: Show the extra variable passed from the rulebook to the playbook
      ansible.builtin.debug:
        var: passed_from_rulebook
